<div class="flex flex-row">
  <app-side-menu />
  <div
    class="basis-4/5 bg-zinc-900 p-6 mt-6 mr-6 rounded-lg border border-zinc-700"
  >
    <span class="font-semibold text-4xl text-zinc-600 ml-3"
      >Self manage restaurant</span
    >
    <div class="flex justify-center mt-5">
      <div class="grid grid-cols-1 w-1/2 gap-3">
        <p-iftalabel>
          <input id="name" pInputText [(ngModel)]="name" class="w-full" />
          <label for="name">Restaurant name</label>
        </p-iftalabel>
        <p-iftalabel>
          <textarea
            pTextarea
            id="description"
            [(ngModel)]="description"
            class="w-full"
            rows="5"
            cols="30"
            style="resize: none"
          ></textarea>
          <label for="description">Description</label>
        </p-iftalabel>
        <p-iftalabel>
          <input
            id="location"
            pInputText
            [(ngModel)]="location"
            class="w-full"
          />
          <label for="location">Location</label>
        </p-iftalabel>
        <p-iftalabel>
          <p-inputmask
            mask="+99-999 999 999"
            [(ngModel)]="phone"
            placeholder="+99-999 999 999"
          />
          <label for="phone">Phone</label>
        </p-iftalabel>

        <div>
            <label class="block text-sm font-medium text-zinc-400 mb-2 ml-1">
            Upload image
            </label>
          <p-fileUpload
            name="image[]"
            [multiple]="false"
            accept="image/*"
            [showUploadButton]="false"
            [showCancelButton]="false"
            [customUpload]="true"
            (onSelect)="onImageSelect($event)"
            class="w-full"
          >
          
            <ng-template pTemplate="content">
                <ul *ngIf="uploadedFiles.length">
                <li
                  *ngFor="let file of uploadedFiles; let i = index"
                  class="flex items-center justify-between"
                >
                  <div class="flex items-center gap-2">
                    <img
                      [src]="file.objectURL"
                      [alt]="file.name"
                      width="50"
                      class="rounded"
                    />
                    <span>{{ file.name }}</span>
                  </div>
                  <button
                    type="button"
                    (click)="removeFile(i)"
                    class="text-red-500 hover:text-red-700 transition"
                  >
                    <i class="pi pi-trash"></i>
                  </button>
                </li>
              </ul>
            </ng-template>
          </p-fileUpload>
        </div>

        <p-toast />
        <p-confirm-dialog />
        <div class="flex gap-2">
          <p-button (click)="confirm($event)" label="Save">
            <i class="pi pi-check"></i>
          </p-button>
        </div>
      </div>
    </div>
  </div>
</div>
