<div class="flex flex-row">
  <app-side-menu />
  <div
    class="basis-4/5 bg-zinc-900 p-6 mt-6 mr-6 rounded-lg border border-zinc-700 mb-3"
  >
    <span class="font-semibold text-4xl text-zinc-600 ml-3"
      >Self manage restaurant</span
    >
    <div class="flex justify-center mt-5">
      <div class="grid grid-cols-1 w-1/2 gap-3">
        <p-iftalabel>
          <input id="name" pInputText [(ngModel)]="name" class="w-full" />
          <label for="name">Restaurant name</label>
        </p-iftalabel>
        <p-iftalabel>
          <textarea
            pTextarea
            id="description"
            [(ngModel)]="description"
            class="w-full"
            rows="5"
            cols="30"
            style="resize: none"
          ></textarea>
          <label for="description">Description</label>
        </p-iftalabel>
        <p-iftalabel>
          <input
            id="location"
            pInputText
            [(ngModel)]="location"
            class="w-full"
          />
          <label for="location">Location</label>
        </p-iftalabel>
        <p-iftalabel>
          <p-inputmask
            mask="+99-999 999 999"
            [(ngModel)]="phone"
            placeholder="+99-999 999 999"
          />
          <label for="phone">Phone</label>
        </p-iftalabel>

        <div>
          <label class="block text-sm font-medium text-zinc-400 mb-2 ml-1">Cuisine</label>
          <p-select
            id="cuisine"
            [options]="cuisineOptions"
            [(ngModel)]="selectedCuisine"
            placeholder="Select a cuisine"
            [showClear]="true"
            styleClass="w-full"
          />
        </div>

        <div >
            <label class="block text-sm font-medium text-zinc-400 mb-2 ml-1">
            Upload restaurant image
            </label>
            <div class="relative w-full h-48 group cursor-pointer" (click)="fileInput.click()">
                <img class="w-full h-full object-cover rounded-lg shadow-slate-950 shadow-lg transition-all duration-300 group-hover:brightness-50" [src]="getImageUrl(restaurant?.imagePath)">
                <div class="absolute inset-0 flex items-center justify-center opacity-0 group-hover:opacity-100 transition-opacity duration-300">
                    <i class="pi pi-upload text-3xl text-white"></i>
                </div>
                <input #fileInput type="file" accept="image/*" class="hidden" (change)="onUpload({files: fileInput.files})">
            </div>
        </div>

        <p-toast />
        <p-confirm-dialog />
        <div class="flex gap-2">
          <p-button (click)="confirm($event)" label="Save">
            <i class="pi pi-check"></i>
          </p-button>
        </div>
      </div>
    </div>
  </div>
</div>
