/frontend/.angular/cache/19.2.12/frontend/.tsbuildinfo
/frontend/node_modules/
/frontend/.angular/cache
/backend/bin/
/backend/obj/
backend/**/bin/
backend/**/obj/
/backend/packages/
/backend/riderModule.iml
/backend/_ReSharper.Caches/
backend/.vs/menumate/FileContentIndex/
.github/copilot-instructions.md
backend/.vs/ProjectEvaluation/menumate.metadata.v9.bin
backend/.vs/ProjectEvaluation/menumate.projects.v9.bin
backend/.vs/ProjectEvaluation/menumate.strings.v9.bin
backend/.vs/menumate/DesignTimeBuild/.dtbcache.v2
backend/.vs/menumate/v17/.suo
backend/.vs/menumate/v17/DocumentLayout.backup.json
backend/.vs/menumate/v17/DocumentLayout.json
node_modules
frontend/package-lock.json
backend/.vs/menumate/CopilotIndices
/frontend/dist/
backend/menumate/azurestorage.json
