/frontend/.angular/cache/19.2.12/frontend/.tsbuildinfo
/frontend/node_modules/
/frontend/.angular/cache
/backend/bin/
/backend/obj/
/backend/packages/
/backend/riderModule.iml
/backend/_ReSharper.Caches/
backend/.vs/menumate/FileContentIndex/
.github/copilot-instructions.md
backend/.vs/menumate/copilot-chat/ee73d3c8/sessions/bca328c4-e055-403e-8dfb-f99bf1cb3bb4
backend/.vs/menumate/CopilotIndices/17.14.1147.5054/CodeChunks.db
backend/.vs/menumate/CopilotIndices/17.14.1147.5054/CodeChunks.db-shm
backend/.vs/menumate/CopilotIndices/17.14.1147.5054/CodeChunks.db-wal
backend/.vs/menumate/CopilotIndices/17.14.1147.5054/SemanticSymbols.db
backend/.vs/menumate/CopilotIndices/17.14.1147.5054/SemanticSymbols.db-shm
backend/.vs/menumate/CopilotIndices/17.14.1147.5054/SemanticSymbols.db-wal
backend/.vs/menumate/FileContentIndex/5d653f88-490f-46c8-be10-ac8178af1b02.vsidx
backend/.vs/menumate/FileContentIndex/72554e72-5aa0-4c0f-9a9b-9680da080a9b.vsidx
backend/.vs/menumate/FileContentIndex/b9465d47-3396-4807-af13-9b89cc28827e.vsidx
backend/.vs/ProjectEvaluation/menumate.metadata.v9.bin
backend/.vs/ProjectEvaluation/menumate.projects.v9.bin
backend/.vs/ProjectEvaluation/menumate.strings.v9.bin
backend/.vs/menumate/DesignTimeBuild/.dtbcache.v2
backend/.vs/menumate/v17/.suo
backend/.vs/menumate/v17/DocumentLayout.backup.json
backend/.vs/menumate/v17/DocumentLayout.json
backend/menumate/obj/menumate.csproj.nuget.dgspec.json
backend/menumate/obj/menumate.csproj.nuget.g.props
backend/menumate/obj/project.assets.json
backend/menumate/obj/project.nuget.cache
backend/menumate/obj/Release/net8.0/menumate.AssemblyInfo.cs
backend/menumate/obj/Release/net8.0/menumate.AssemblyInfoInputs.cache
node_modules
