<div>
  <div class="mt-1">
    <app-top-search
      (searchQueryChange)="onSearchQueryChange($event)"
      (cuisineChange)="onCuisineChange($event)"
      (locationChange)="onLocationChange($event)"
      (ratingChange)="onRatingChange($event)">
    </app-top-search>
  </div>


  <div class="grid grid-cols-1 sm:grid-cols-1 md:grid-cols-2 xl:grid-cols-3 2xl:grid-cols-4 gap-6 p-4" >
    <app-restaurant-card
      *ngFor="let restaurant of filteredRestaurants"
      [restaurant]="restaurant">
    </app-restaurant-card>
  </div>
  
</div>