<div class="flex flex-col mt-20 justify-center items-center gap-6">
    <div class="text-8xl font-black text-primary opacity-20">404</div>
    <div class="text-3xl font-bold">Page not found</div>
    <div class="text-lg w-1/2 text-center font-medium text-slate-400">Somebody broke this page. Don't worry - our elite dev team (One computer-science student fueled by buckets of coffee) is already on the case!</div>
    <p-button label="Back to Home" icon="pi pi-home" routerLink="/" [outlined]="true" severity="secondary" styleClass="mt-4"></p-button>
</div>