<div class="flex flex-row justify-center items-stretch">
  <p-toolbar class="w-full ml-3 mr-3">
    <ng-template pTemplate="start">
      <p-button routerLink="/browse" icon="pi pi-home" variant="text" />
    </ng-template>

    <ng-template pTemplate="center">
      <div class="flex items-center gap-3">
        <p-floatlabel variant="on">
          <p-iconfield>
            <p-inputicon class="pi pi-search" />
            <input
              class="text-center sm:w-auto lg:w-80 h-10 rounded-2xl"
              pInputText
              id="on_label"
              autocomplete="off"
              [(ngModel)]="searchQuery"
              (input)="onSearch()"
            />
            <p-inputicon
              *ngIf="searchQuery"
              class="pi pi-times cursor-pointer"
              (click)="searchQuery = ''; onSearch()"
            />
          </p-iconfield>
          <label for="on_label" style="color: aliceblue"> Search</label>
        </p-floatlabel>
        <p-select
          *ngIf="isBrowsePage"
          [options]="cuisines"
          [(ngModel)]="selectedCuisine"
          optionLabel="name"
          placeholder="Cuisine"
          (onChange)="onCuisineChange()"
          [showClear]="true"
          class="w-36"
        />
        <p-select
          *ngIf="isBrowsePage"
          [options]="locations"
          [(ngModel)]="selectedLocation"
          optionLabel="name"
          placeholder="Location"
          (onChange)="onLocationChange()"
          [showClear]="true"
          class="w-36"
        />

        <p-select
          *ngIf="isBrowsePage"
          [options]="ratings"
          [(ngModel)]="selectedRating"
          optionLabel="name"
          placeholder="Rating"
          (onChange)="onRatingChange()"
          [showClear]="true"
          class="w-36"
        >
          <ng-template pTemplate="item" let-rating>
            <p-rating [ngModel]="rating.value" [readonly]="true" />
          </ng-template>
        </p-select>
      </div>
    </ng-template>

    <ng-template pTemplate="end">
      <div routerLink="/user" class="cursor-pointer">
        <p-avatar
          shape="circle"
          class="shadow-sm shadow-black"
          image="https://www.transparentpng.com/download/user/gray-user-profile-icon-png-fP8Q1P.png"
        ></p-avatar>
      </div>
    </ng-template>
  </p-toolbar>
</div>
